<div class="container">

<h4 class ="center">Edit gig details</h4>

<%= render 'form', company: @company %>

<%= link_to 'Show', @company, class: "btn btn-link" %> |
<%= link_to 'Back', listing_path, class: "btn btn-link"  %>

</div>