<div class="container">
     <div class="companies-list">           
                <div class="companies-list-item">
                    <div class="companies-list-item-image">
                       
                    </div><!-- /.companies-list-item-image -->

                    <div class="companies-list-item-heading">
                        <h2><a href="company-detail.html">Dropbox</a></h2>
                        <h3>San Francisco, California</h3>
                    </div><!-- /.companies-list-item-heading -->

                    <div class="companies-list-item-count">
                        <a href="#">4 open positions</a>
                    </div><!-- /.positions-list-item-count -->

                    <div class="companies-list-item-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span class="companies-list-item-rating-count">/ 53</span>
                    </div><!-- /.companies-list-item-rating -->
                </div><!-- /.companies-list-item -->
            
                <div class="companies-list-item">
                    <div class="companies-list-item-image">
                       
                    </div><!-- /.companies-list-item-image -->

                    <div class="companies-list-item-heading">
                        <h2><a href="company-detail.html">Airbnb</a></h2>
                        <h3>New York City, New York</h3>
                    </div><!-- /.companies-list-item-heading -->

                    <div class="companies-list-item-count">
                        <a href="#">3 open positions</a>
                    </div><!-- /.positions-list-item-count -->

                    <div class="companies-list-item-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span class="companies-list-item-rating-count">/ 24</span>
                    </div><!-- /.companies-list-item-rating -->
                </div><!-- /.companies-list-item -->     
        </div><!-- /.companies-list -->
    </div> <!-- page wrapper -->