<div class="container">
     <div class="companies-list">   
     <% @gig.each do |gig| %>        
                <div class="companies-list-item">
                    <div class="companies-list-item-image">
                       Logo
                    </div><!-- /.companies-list-item-image -->

                    <div class="companies-list-item-heading col-sm-4">
                        <h2><%= link_to gig.name, gig_path(gig) %> <span class="label label-success"><%= gig.budget %></span>
                           </h2>
                        <h2>Company Name goes here</h2>
                        <small><%= gig.location %></Small>
                    </div><!-- /.companies-list-item-heading -->

                    <div class="companies-list-item-count">
                        <a href="#">4 open positions</a>
                    </div><!-- /.positions-list-item-count -->

                    <div class="companies-list-item-rating">
                        "ratings goes here"
                        <span class="companies-list-item-rating-count">/ 53</span>
                    </div><!-- /.companies-list-item-rating -->
                </div><!-- /.companies-list-item -->
                <% end %>
<!-- <div class="center"> -->
    <!-- <ul class="pagination"> 
        <li></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
  </div> -->
</div> <!-- page wrapper -->
