
    <footer class="" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 footer-copyright">
                    © ma:interns / Kuhustle Inc  - All rights reserved
              
            </div>
        </div>
    </footer>
